include common/_head
body.blog-page
	.header-holder
		nav#page-menu
			+MainMenu(2)
		header.header
				+parallaxBG
				.header-top
					.menu-holder
						+socialsBlock
						button.toogle-menu
							div.menu-btn
				.login-block-holder
					.header-user-info
						.header-user-holder
							.user-block
								.user__avatar
									img(src="source/images/avatar.jpg", title=title, alt=name)
							h3.title-border Блог
							p Статьи, которые я написала
				svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 2032 360" preserveaspectratio="none" class="triangle")
					polygon(points="2032,360.368 2032,0 1016,173 0,0 0,360.368")
	
	section.blog-container
		aside.blog-sidebar
			button.toogle-sidebar
			#nav-anchor
			nav
				ul.post-list
					li.post-list-item
						a.post-item__url(href="#sass") Самое важное в SASS
					li.post-list-item
						a.post-item__url(href="#markup") Приёмы в вёрстке
					li.post-list-item
						a.post-item__url(href="#news") Новости
		div.blog-content
			div.blog-post(id="sass")
				h4.blog-post__title Самое важное в SASS
				div.blog-post__date 22 ноября 2016
				p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
				p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
				img(src="source/images/blog/img1.jpg", alt="")
			div.blog-post(id="markup")
				h4.blog-post__title Приёмы в вёрстке, без которых не обходится ни один сайт
				div.blog-post__date 22 ноября 2016
				p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
				p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
			div.blog-post(id="news")
				h4.blog-post__title Новости
				div.blog-post__date 22 ноября 2016
				p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
				p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
	footer.footer
		include common/_footer
