include common/_head
body.blog-page
	header.header
		.header-user-info
			.header-user-holder
				.user-block
					.user__avatar
						img(src="source/images/avatar.jpg", title=title, alt=name)
				h3.title-border Блог
				p Статьи, которые я написал
				svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 2032 360" preserveaspectratio="none" class="triangle")
					polygon(points="12032,360.368 2032,0 1016,173 0,0 0,360.368")
	include common/_footer
