.blog-page{
	.header{
		text-align: center;
		.title-border{
			color: $white;
			font-size: 63px;
			&:before{
				background: $white;
			}
		}
		p{
			color: $white;
		}
	}
	.triangle{
		fill: #FBF8F1;
	}
}
.blog-container{
	width: 100%;
	padding: 24px 1% 100px;
	background: #faf8f0;
	position: relative;
	box-sizing: border-box;
	&:after{
		content: '';
		display: block;
		clear: both;
	}
	@include tablet{
		padding-left: 3%;
		padding-right: 3%;
	}
}
.blog-sidebar{
	margin: 7px 0 0 0;
	width: 25%;
	float: left;
	transition: all .3s;

	@include tablet{
		width: 50%;
		background: #6c9c5a;
		position: fixed;
		left: -50%;
		top: 0;
		bottom: 0;
		margin: 0;
		z-index: 10;

		.open-sidebar &{
			left: 0;
		}
	}
	@include mobile{
    	width: 90%;
    }
}
.post-list{
	margin: 0 40px 0 0;

	@include tablet{
		display: table-cell;
		vertical-align: middle;
		margin: 0;
		padding: 0 20% 0 5%;
	}
}
.post-list-item{
	text-align: right;
	margin: 0 0 10px;
}
.post-item__url{
	display: inline-block;
	font-size: 16px;
	padding: 12px 0;
	color: $green;
	position: relative;
	-webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    position: relative;

    @include tablet{
    	color: rgba(#fff, 0.7);
    }
    &.active{
		font-weight: bold;

		@include tablet{
			color: $white;
		}
		&:after{
			content: '';
			border-right: 3px solid $green;
			display: inline-block;
			height: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -20px;

			@include tablet{
				display: none;
			}
		}
	}
}
.blog-content{
	width: 58%;
	float: right;
	margin: 0 8%;
	@include tablet{
		width: 100%;
		margin: 0;
	}
}
.blog-post{
	border-top: 5px solid #ecebe4;
	padding: 63px 0 68px 0;

	&:first-child{
		border: 0;
		padding-top: 0;
	}
	p{
		line-height: 26px;
		margin: 0;
		padding: 0 0 10px;
	}
	img{
		width: 100%;
	}
}
.blog-post__title{
	margin: 0;
	color: #566358;
	font-size: 35px;
	font-family: $Sansus;
	padding: 0 0 21px;
}
.blog-post__date{
	color: $green;
	padding: 0 0 20px;
}
nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:12px;
    width: 24.5%;
    left: 1%;
    @include desktop{
		width: 21.5%;
    }
    @include tablet{
    	position: relative;
    	left: auto;
    	margin-top: 0;
    	width: 100%;
    	display: table;
    	height: 100%;
    }

}
.toogle-sidebar{
	display: none;

	@include tablet{
		display: block;
		width: 65px;
		height: 65px;
		background: #6c9c5a;
		position: absolute;
		top: 50%;
		right: -20px;
		transform: translateY(-50%);
		border-radius: 50%;
	}
}