.login-page{
  width: 100%;
  height: 100%;
  display: table;
  color: $white;
}
/*************************************
      HEADER
*************************************/
.login-header{
  @extend %tableRow;
  text-align: right;
    @include mobile{
      text-align: center;
    }
    .login-button{
      border: 1px solid #fff;
      font-weight: 500;
      text-align: center;
      color: $white;
      border-radius: 20px;
      padding: 12px 27px;
      margin: 20px 22px 0 0;
      transition: all .3s;
      position: relative;
        &:hover{
          border-color: #729e19;
          background: #4e8839;
        }
        .flip &{
          visibility: hidden;
        }
        @include mobile{
          margin: 10px 0 0 0;
          padding: 12px 20px;
        }
    }
}
/*************************************
      CARDS BLOCK
*************************************/
.login-block-holder{
  @extend %tableRow;
  height: 100%;
}
.login-card-table{
  display: table;
  width: 100%;
  height: 100%;
}
.login-card-align{
  display: table-cell;
  vertical-align: middle;
}
.login-card-wrapper{
  max-width: 380px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  z-index: 100;
    @include tablet{
      width: 348px;
    }
    @include mobile{
      width: 300px;
      margin: 0 auto;
    }
}
.login-card-flip{
  perspective: 1000px;
    .flip &{
      perspective: none;
    }
}
.login-card__front,
.login-card__back{
  background: rgba(#122620, 0.6);
  border-radius: 6px;
  padding: 42px 0 0;
   -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
}
.login-card__front{
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
    .flip &{
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
    }
}
.login-card__back{
  position: absolute;
  z-index: 1;
  top: 0;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
    .flip &{
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
    }
    .user-pages__item{
      width: 50%;
      .user-pages__link{
        width: 100%;
      }
    }
}
.login-card__title{
  font-family: $Sansus;
  font-size: rem(35px);
  text-transform: uppercase;
  position: relative;
  margin: 0;
  padding: 0 0 23px;
    &:after{
      content: '';
      height: 3px;
      width: 89px;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
    }
}
.flip{
  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
/*************************************
      FORM
*************************************/
.login-form{
  margin: 30px 0 0 0;
  padding: 0 20px;
  .form-label__radio,
  .form-label__check{
    position: relative;
    padding: 0 0 0 32px;
    cursor: pointer;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
      }
  }
  .form-input__check,
  .form-input__radio{
    display: none;
    text-indent: -9999px;
  }
  .login-form-input{
    width: 100%;
    overflow: hidden;
    padding: 0 0 10px;
    position: relative;
    border-radius: 25px;
    padding: 13px 15px;
    background: #fff;
    box-sizing: border-box;
    margin: 0 0 21px;
      span{
        position: absolute;
        top: 0;
        left: 0;
        background: #f0efe9;
        width: 45px;
        padding: 15px 0;
        color: #c4cbcd;
      }
      input{
        border: 0;
        background: none;
        width: 100%;
        box-sizing: border-box;
        padding: 0 0 0 48px;
        color: #373e42;
        outline: none;
      }
  }
  .login-form-check{
    margin: 0 0 20px;
    .form-label__check{
        &:before{
          border-radius: 2px;
          background: #6c9c5a;
        }
    }
    input{
        &:checked + .form-label__check:before{
          content: "\f00c";
          color: #fff;
          font: 14px/1 'FontAwesome';
          line-height: 19px;
        }
    }
  }
  .form-radio-item{
    display: inline-block;
    margin: 0 15px;
      .form-label__radio{
        &:before{
          border-radius: 20px;
          background: #fff;
        }
      }
      .form-input__radio{
        &:checked + .form-label__radio{
          color: #6c9c5a;
            &:before{
              content: "\f111";
              font: 9px/1 'FontAwesome';
              line-height: 19px;
            }
        }
      }
    }
  p{
    margin: 0;
    padding: 0 0 10px;
  }
}
/*************************************
      USER LINKS
*************************************/
.user-pages{
  display: table;
  width: 100%;
  padding: 40px 0 0 0;
    .user-pages__item{
      display: table-cell;
      background: #629055;
      border-left: 2px solid #a0b99e;
      text-align: center;
      transition: background .3s;
      &:first-child{
        border: 0;
      }
      &:hover{
        background: #497f39;
      }
        .user-pages__link{
          display: block;
          color: $white;
          padding: 13px 0;
          font-size: 16px;
        }
    }
}
/*************************************
      FOOTER
*************************************/
.login-footer{
  @extend %tableRow;
  text-align: center;
    .footer-wrapper{
      padding: 0 0 40px;
      position: relative;
        .copy{
          border-right: 1px solid #fff;
          margin: 0 5px 0 0;
          padding: 0 5px 0 0;
              @include mobile{
                display: block;
                padding: 0 0 7px;
                margin: 0;
                border: 0;
              }
        }
        .year{
          border-left: 1px solid #fff;
          margin: 0 0 0 5px;
          padding: 0 0 0 5px;
        }
    }
}